
@{
    Layout = "/Views/Shared/_LayoutvanGoghAdmin.cshtml";
}
@model List<kouBlog.Models.DTO.ResultPostDto>
    <div class="container">
        <div class="center-card">
            <div class="card">
                <div class="card-header">
                    Yazılarım
                </div>
                <div class="card-body">
                    <div class="tweet-card">
                        <div class="tweet-content">
                            <h2>PostName</h2><h4>(Kategori : )</h4>
                            <p> PostContent PostContent PostContent PostContent PostContent</p>
                        </div>
                        <div class="tweet-actions">
                            <a href="/Post/LikeIt/" class="like-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"></path><path d="M9 10h2v8H9zm4 0h2v8h-2z"></path></svg>
                            </a>
                            <a href="/Admin/PostUpdate/" class="comment-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M13 19v-4h3l-4-5-4 5h3v4z"></path><path d="M7 19h2v-2H7c-1.654 0-3-1.346-3-3 0-1.404 1.199-2.756 2.673-3.015l.581-.102.192-.558C8.149 8.274 9.895 7 12 7c2.757 0 5 2.243 5 5v1h1c1.103 0 2 .897 2 2s-.897 2-2 2h-3v2h3c2.206 0 4-1.794 4-4a4.01 4.01 0 0 0-3.056-3.888C18.507 7.67 15.56 5 12 5 9.244 5 6.85 6.611 5.757 9.15 3.609 9.792 2 11.82 2 14c0 2.757 2.243 5 5 5z"></path></svg>
                            </a>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin-top: 30px;
            opacity: 0.95;
        }

        .center-card {
            display: flex;
            align-items: center;
        }

        .card {
            background-color: #d6d4d6;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 800px;
            overflow: hidden;
        }

        .card-header {
            background-color: #428a6b;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .card-body {
            padding: 20px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

            .table th,
            .table td {
                border: 1px solid #ccc;
                padding: 8px;
                text-align: center;
            }

            .table th {
                background-color: #f0f0f0;
            }

        .alt-card {
            background-color: #ebd5b7;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 800px;
            overflow: hidden;
        }

        .tweet-card {
            background-color: #d6d4d6;
            border: 1px solid #d6d4d6;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .tweet-content {
            margin-bottom: 10px;
        }

            .tweet-content p {
                font-size: 16px;
                margin: 0;
            }

        .tweet-actions {
            display: flex;
            justify-content: space-between;
        }

        .like-button,
        .comment-button {
            background-color: #428a6b;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            text-align: center;
            align-content: center;
        }

            .like-button:hover,
            .comment-button:hover {
                background-color: #295442;
            }
    </style>
