@{
    Layout = "/Views/Shared/_LayoutvanGoghAdmin.cshtml";
}
@model kouBlog.Models.DTO.NewPostDto;

<div class="container">
    <div class="center-card">
        <div class="card">
            <div class="card-header">
                Yeni Yazı
            </div>
            <div class="card-body">
                @using (Html.BeginForm("NewPost", "Post", FormMethod.Post))
                {
                    @Html.TextBoxFor(m => m.PostName, new { @class = "form-control", placeholder = "Yeni Yazı Başlığı" })
                    <br />
                    @Html.TextBoxFor(m => m.PostContent, new { @class = "form-control", placeholder = "Yeni Yazı İçeriği" })
                    <br />
                    <button id="add-button" style="margin-left:10px;">Ekle</button>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .form-control {
        width: 200px; /* Dilediğiniz genişliği belirleyin */
        border: 1px solid #ccc;
        border-radius: 10px; /* Kenarları yuvarlatma miktarı */
        padding: 10px;
        background-color: #fff; /* Arka plan rengi */
        color: #333; /* Metin rengi */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 30px;
        opacity: 0.95;
    }

    .center-card {
        display: flex;
        align-items: center;
    }

    .card {
        background-color: #d6d4d6;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 800px;
        overflow: hidden;
    }

    .card-header {
        background-color: #428a6b;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .card-body {
        padding: 20px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #d6d4d6;
        }

    .alt-card {
        background-color: #ebd5b7;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 800px;
        overflow: hidden;
    }

    .tweet-card {
        background-color: #d6d4d6;
        border: 1px solid #d6d4d6;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .tweet-content {
        margin-bottom: 10px;
    }

        .tweet-content p {
            font-size: 16px;
            margin: 0;
        }

    .tweet-actions {
        display: flex;
        justify-content: space-between;
    }

    .like-button,
    .comment-button,#add-button {
        background-color: #428a6b;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        text-align: center;
        align-content: center;
    }

        .like-button:hover,
        .comment-button:hover, #add-button:hover {
            background-color: #295442;
        }
</style>