@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    @RenderBody()
</body>
</html>

<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/Images/mavi.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .login-div {
        display: flex;
        justify-content: space-around;
        width: 380px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .login, .register {
        text-align: center;
    }

    input[type="text"], input[type="password"], input[type="tel"] {
        width: 300px;
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
    }

    button {
        background-color: #143256;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    #goto-login, #goto-register {
        background-color: #143256;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    #goto-login:hover, #goto-register:hover{
            background-color: #061426;

    }

    button:hover {
        background-color: #061426;
    }
</style>