@{
    Layout = "/Views/Shared/_LayoutvanGoghCustomer.cshtml";
}



<div class="container">
    <div class="center-card">
        <div class="card">
            <div class="card-header">
               Tüm Yazılar
            </div>
            <div class="card-body">
                <div class="tweet-card">
                    <div class="tweet-content">
                        <h2>PostName</h2><h4>(Kategori : )</h4>
                        <p> PostContent PostContent PostContent PostContent PostContent</p>
                    </div>
                    <div class="tweet-actions">
                        <a href="/Post/LikeIt/" class="like-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M4 21h1V8H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2zM20 8h-7l1.122-3.368A2 2 0 0 0 12.225 2H12L7 7.438V21h11l3.912-8.596L22 12v-2a2 2 0 0 0-2-2z"></path></svg>
                            <label style="text-decoration:none">5</label>
                        </a>
                        <a href="/Customer/PostDetail/" class="comment-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M20 2H4c-1.103 0-2 .897-2 2v18l5.333-4H20c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm0 14H6.667L4 18V4h16v12z"></path></svg>
                        </a>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 30px;
        opacity: 0.95;
    }

    .center-card {
        display: flex;
        align-items: center;
    }

    .card {
        background-color: #d6d4d6;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 800px;
        overflow: hidden;
    }

    .card-header {
        background-color: #a35898;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .card-body {
        padding: 20px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #f0f0f0;
        }

    .alt-card {
        background-color: ebd5b7;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 800px;
        overflow: hidden;
    }

    .tweet-card {
        background-color: #d6d4d6;
        border: 1px solid #d6d4d6;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .tweet-content {
        margin-bottom: 10px;
    }

        .tweet-content p {
            font-size: 16px;
            margin: 0;
        }

    .tweet-actions {
        display: flex;
        justify-content: space-between;
    }

    .like-button,
    .comment-button {
        background-color: #a35898;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        text-align: center;
        align-content: center;
    }

        .like-button:hover,
        .comment-button:hover {
            background-color: #5e3258;
        }
</style>